body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}

#login-page-main {
    width: 500px;
    height: 250px;
    padding: 50px;
    background-color: #e0ffff;
    margin: 150px auto auto;
}

#login-user-name,
#login-password {
    display: block;
    margin: 10px;
}

#main-page-main {
    width: 1024px;
    height: 800px;
    background-color: red;
    margin: 150px auto auto;
}

.main-page-tab-content {
    width: 800px;
    height: 700px;
    margin: 10px auto auto;
    background-color: #add8e6;
}

.main-page-tab-bar .gwt-Label {
    cursor: pointer;
    margin-right: 10px;
}

.main-page-tab-bar {
    width: 500px;
    height: 25px;
    margin: 50px auto auto;
    background-color: white;
}